@import 'bootstrap/dist/css/bootstrap.min.css';

$red: #E15554;
$yellow: #F5A623;
$dark-grey: #3F3F3F;
$grape: #55427A;
$keppel: #28B99D;
$grey: #F2F2F2;

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 1060px;
  }
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1440px;
  }
}
@keyframes slide-left {
  0%{
    left: 200%;
  }
  100%{
    left: 50%;
  }
}
@keyframes opacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
html, body{
  width: 100%;
  height: 100%;
}

#background{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  .circle{
    background: $grape;
    clip-path: circle(50% at 50% 50%);
    top: 0;
    left: 50%;
  }
  .circle,
  .shape{
    width: 100%;
    height: 100%;
    position: fixed;
  }
  .shape{
    background: $keppel;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    right: 50%;
  }
  .background-filter{
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(white, 0.7);
    backdrop-filter: blur(4px);
  }
}

.custom-card {
  position: relative;
  margin: auto;
  min-width: 230px;
  max-width: 80%;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
  &.sticky{
    position: sticky;
    top: 2rem;
  }
  &.sideways{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 2rem;
    figcaption{
      padding: 25px 25px 25px 25px;
      margin-top: 0;
    }
    .profile-image{
        height: 50%;
        margin: auto;
    }
  }
  &.search-result{
    text-align: left;
    figcaption{
      .bio{
        font-style: italic;
      }
      .languages{
        display: flex;
        flex-wrap: wrap;
        img{
          width: 1rem;
          margin: .25rem;
        }
      }
    }
  }
  *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .profile-image {
    display: inline-block;
    width: 50%;
    z-index: 1;
    position: relative;
    padding: 10px;
    border: 2px solid $keppel;
  }
  .profile-image img {
    max-width: 100%;
    vertical-align: top;
  }
  figcaption {
    width: 100%;
    background-color: $grey;
    color: #555;
    padding: 125px 25px 25px;
    margin-top: -100px;
    display: inline-block;
    box-shadow: 2px 2px 10px 0.01px rgba($dark-grey, 0.3);
    display: flex;
    flex-direction: column;
  }
  h3,h4,p{
      margin: 0 0 5px;
  }
  h3{
    font-weight: 600;
    font-size: 1.3em;  
  }
  h4{
    color: #8c8c8c;
    font-weight: 400;
    letter-spacing: 2px;  
  }
  p{
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;  
  }
  .kids,
  .details{
    padding-top: 1rem;
    img{
        height: 2rem;
    }
  }
  .details{
    text-align: left;

  }
}
.full-booking{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 500;
  animation: opacity .5s ease-in-out;
  .custom-card{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    animation: slide-left 1s ease-in-out;
    .details{
      margin-bottom: 2rem;
    }
  }
  &::before{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(white, 0.7);
    backdrop-filter: blur(10px);
  }
}
.custom-btn{
    background: $yellow;
    border: 1px solid $yellow;
    padding: .4em 1.3em;
    color: $grey;
    letter-spacing: 0.25em;
    border-radius: 0.5em;
    cursor: pointer;
    border-color: $yellow;
    margin: auto;
    box-shadow:  0 0 0 0 $yellow, inset 0 0 0 0 $yellow;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, background 300ms ease-in-out;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $yellow;
    box-shadow: 0 0 4px 0 $yellow;
    background: none;
  }
}
.btn-container{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.section-title{
    text-align: center;
    margin: 2rem 0;
    color: $dark-grey;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 30%;
      height: 1px;
      bottom: 0;
      left: 35%;
      background: $red;
    }
}
.login-window{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 3.5rem;
  background: rgba($grey, 0.9);
  border-radius: .5rem;
  backdrop-filter: blur(10px);
  form{
    display: flex;
    flex-direction: column;
    label{
      margin: 0;
    }
    .custom-btn{
      margin-bottom: 0;
    }
    input:not([type='submit']){
      @extend .custom-btn;
      margin-bottom: 1rem;
      letter-spacing: 0px;
      color: $yellow;
      background: transparent;
    }
  }
}